/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp Q     &kp W    &kp E     &kp R     &kp T           &kp Y     &kp U     &kp I     &kp O     &kp P
    &kp A     &kp S    &kp D     &kp F     &kp G           &kp H     &kp J     &kp K     &kp L     &kp SEMI
    &kp Z     &kp X    &kp C     &kp V     &kp B           &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH
              &kp LEFT &kp RIGHT                                               &kp UP    &kp DOWN
                                 &kp BSPC  &kp LALT        &kp RET   &kp SPACE
                                 &kp LCTRL &bt BT_NXT      &kp LGUI  &kp DEL
                                 &kp DEL   &bt BT_CLR      &kp PG_UP &kp PG_DN

            >;
        };
    };
};